/* Notes */
/* To add styling for hover - use class:hover */
/* To have a horizontal layout - display: flex */
/* To style in relation to a font size: as you did, em is the correct way! */
/* To avoid using bullet points, you can use list-style-type: none */


nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #6e072d;
  color: white
}

ul {
  display: flex;
  margin: 0px;
  padding: 0px
}

li {
  border-right: 2px solid white;
  font-size: 18px;
  padding: 1em 1.5em;
  list-style-type: none
}

li:not(:last-of-type) {
  border-right: 2px solid white;
}

li:hover {
  background-color: #b90e4d
}