
<!DOCTYPE html>
<html>
<!-- 11/11 tests passed -->
<!-- Notes: -->
<!-- 1. Make sure to wrap the header row in a <thead> -->
<!-- 2. Put the caption of a table in a <caption> -->
<!-- 3. Put the body of a table in a <tbody> -->
<!-- 4. Put the final row of a table in a <tfoot> -->

<body>
    <style>
        table {
            background-color: grey;
            color: white
        }
    </style>

    <table>
        <caption>Item Cart</caption>
        <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Banana</th>
                <td>$1.00</td>
                <td>3</td>
            </tr>
            <tr>
                <th>Burger</th>
                <td>$6.90</td>
                <td>1</td>
            </tr>
            <tr>
                <th>Cookie</th>
                <td>$4.20</td>
                <td>4</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Total</th>
                <td>$12.10</td>
                <td>8</td>
            </tr>
        </tfoot>
    </table>
</body>
</html>