<!DOCTYPE html>
<!-- Task:
    Implement a sign up form with the correct labels and inputs, and a Sign Up button that allows you
    to submit the form
 -->
<html>
<body>
<style>
  .grey {
    background-color: lightgrey
  }
</style>
<form class="grey">
  <div>
    <label>Username: 
      <input type="text" required />  
    </label> 
    <label>Password: 
      <input type="password" required />
    </label> 
    <label>Email: 
      <input type="email" required />
    </label> 
  </div>
  <div>
    <label>Phone Number: 
      <input type="tel" />  
    </label> 
    <label>Date of Birth: 
      <input type="date" />
    </label> 
    <label>I agree to the TOS 
      <input type="checkbox" required/>
    </label> 
  </div>
  <div>
    <button value="Sign Up" type="submit">Sign Up</button>
  </div>
</form>
</body>
</html>