
.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(2, 179, 248);
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h2 {
  font-size: 85px;
  color: white;
}

.main-link:link {
  text-decoration: none;
}

.main-link:hover {
  text-decoration: none;
  color:rgb(225, 151, 225)
}

.block-text {
  width: 75%; 
  max-width: 75%;
  color: white;
  text-align: center;
  margin: auto;
}

.fine-print {
  font-size: 15px;
  text-decoration: italic;
  color: white;
  bottom: 10;
  margin-top: 10 
}

a {
  color: white;
}

footer {
  position: fixed;
  bottom: 35px;
}